@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap");

.drug {
  color: #7b7777;
  border: none;
  cursor: pointer;
}

.title-drug {
  font-size: 32px;
  font-weight: 500;
}
