@import "../fontawesome-6.4.0/css/fontawesome.min.css";

.input-search[type="text"] {
  display: inline-block;
  padding: 12px 50px;
  margin: 8px 0;
  width: 100%;
  height: auto;
  border-radius: 20px;
  border: none;
  font-size: 20px;
}
.search-box {
  position: relative;
}
.search-box span {
  font-size: 20px;
  outline: thick;
  position: absolute;
  top: 25px;
}

/* .input-search[type="text"]:focus {
  outline: 5px solid #1c316d63;
  box-shadow: #000000;
} */


.autocomplete {
	display: inline-block;
}

input {
	box-sizing: border-box;
	border: none;
	padding: 10px;
	font-size: 16px;
}

input[type=text] {
	background-color: #fff;
	width: 300px;
	outline: none;
}

input[type=submit] {
	background-color: DodgerBlue;
	color: #fff;
	cursor: pointer;
}

.autocomplete-items {
	position: absolute;
	width: 780px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  top: 45px;
  padding: 15px 0 15px 0;
  display: none;
}

.autocomplete-items div {
	box-sizing: border-box;
	padding: 10px;
	cursor: pointer;
	border-top: 0px;
}

.autocomplete-items div:hover {
	background-color: #e9e9e9;
}

.items-link {
	text-decoration: none;
	color: black;
}

.items-link:hover {
	text-decoration: underline;
	color: black;
}
.search-box{
width: 780px; 
height: 70px; 
position: relative;
}

.input-group-append span{
left: 720px;
}
#hos{
	color: #044374; 
	text-align: center; 
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.card{
	max-width: 500px;
	margin: auto;
}
.card-text{
	display: -webkit-box; 
	-webkit-line-clamp: 2; 
	-webkit-box-orient: vertical;
	 overflow: hidden;	 
}
.card img{
	width: 100%; 
	height: 200px;
}