@media screen and (max-width: 376px) {
    .disease_infor_banner{
        width: 100%;
        height: auto;   
    }
    #banner_title{
        height: auto;
    }
    .title{
      display: none;
    }
    .carousel-control-prev, .carousel-control-next{
        display: none;
    }
    .carousel-indicators [data-bs-target]{
        height: 7px;
    }
    .rounded-element-disease_case{
        width: 320px;
    }
    .card-body{
        width: 320px;
    }
    .card-body img{
        width: 320px;
    }
    .dropdown{
        margin-right: 10px;
    }
    .dropdown:hover .dropdown-content{
        display: block;
        padding-right: 20px;
    }
    .dropdown-content a{
    padding: 2px 13px 2px 2px;
    }
    .rounded-element-disease_case{
        margin: 10px 0px 10px -30px;
    }
  }